/* BOILERPLATE */
:root {
  --BGcolor: #000000;
  --darkTxtColor: #111111;
  --brightTxtColor: #FFFFFF;
  --accentColor: #FBBA00;
  --Montserrat: 'Montserrat', sans-serif;
  --OpenSans: 'Open Sans', sans-serif;
  --contentSpacing: 3rem;
  font-size: 0.833333vmax;
}

html, body, body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--BGcolor);
}

h1, h2, h3, h4, h5, h6, p, a {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  overflow-wrap: break-word;
}

/* HEADER */
#header, #footer {
  width: 100%;
  height: 10vh;
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--darkTxtColor);
  font-family: var(--Montserrat);
  font-size: 3rem;
  text-align: center;
  background-color: #FFFFFF;
}

#Logo {
  width: 8ch;
  height: 75%;
  object-fit: contain;
}

#datum {
  width: 15ch;
  font-weight: 800;
}

#uhr {
  width: 8ch;
  background-color: var(--accentColor);
}

#zeit {
  width: 100%;
  font-weight: 900;
}

/* MAIN CONTENT */
#main {
  width: 100%;
  height: 90vh;
  padding: var(--contentSpacing);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--contentSpacing);
}

/* MAIN CONTENT LEFT */
#mainLeft {
  width: 38.2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--contentSpacing);
}

#articleIMG {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  color: var(--brightTxtColor);
  font-family: var(--OpenSans);
  font-weight: 700;
  font-size: 2.5rem;
  gap: 1.5rem;
}

#socials img {
  max-height: 3.5rem;
  border-radius: 100%;
}

/* MAIN CONTENT RIGHT */
#mainRight {
  width: 61.8%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--contentSpacing) / 2);
  color: var(--brightTxtColor);
  font-family: var(--Montserrat);
  text-align: left;
  overflow: hidden;
}

#headline {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.1;
}

#descriptionCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.description {
  font-family: var(--OpenSans);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
}

#qrcodeCont {
  min-height: 12vmax;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

#qrcode {
  width: 12vmax;
  height: 12vmax;
  align-self: flex-end;
  flex-shrink: 0;
  border: 0.3vw solid #fff;
  background-color: #fff;
}

#qrcode img {
  width: 100%;
  height: 100%;
}

/* FOOTER */
#footer {
  display: none;
}

@media (orientation: portrait) {

  /* HEADER */
  #header, #footer {
    justify-content: space-evenly;
    font-size: 3.5rem;
  }

  #Logo {
    width: auto;
    height: 60%;
  }

  #datum {
    width: auto;
  }

  /* MAIN CONTENT */
  #main {
    height: 80vh;
    flex-direction: column;
  }

  #socials {
    display: none;
  }

  /* MAIN CONTENT LEFT */
  #mainLeft {
    width: 100%;
    height: auto;
  }

  /* MAIN CONTENT RIGHT */
  #mainRight {
    width: 100%;
    height: auto;
    flex-grow: 1;
  }

  /* FOOTER */
  #footer {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #footer img {
    max-height: 50%;
    border-radius: 100%;
  }

  #footer div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: blend 10s linear infinite both;
  }

  #footer div:nth-child(1) {
    animation-delay: 0s;
  }

  #footer div:nth-child(2) {
    animation-delay: 2s;
  }

  #footer div:nth-child(3) {
    animation-delay: 4s;
  }

  #footer div:nth-child(4) {
    animation-delay: 6s;
  }

  #footer div:nth-child(5) {
    animation-delay: 8s;
  }
}

@keyframes blend {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  18% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}